.title {
    text-align: center;
    font-size: 30px;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    
    
}

.item-card:hover {
    background: #4ca1af;
    color: white;
}


.rent-btn {
    background: #1abc9c;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.rent-btn:hover {
    background: #16a085;
}

.disabled {
    background: gray;
}