<!DOCTYPE html>
<html>
<head>
    <title>Add Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>

<h2>Add Item</h2>

<form method="POST">

    Item Name: <br>
    <input type="text" name="name" required><br><br>

    Price (per month): <br>
    <input type="number" name="price" required><br><br>

    Contact Number: <br>
    <input type="text" name="contact" required><br><br>

    <button type="submit">Add Item</button>

</form>

</body>
</html>