<!DOCTYPE html>
<html>
<head>
    <title>Add Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

</head>
<body>

<h2>Add Item</h2>

<form method="POST" enctype="multipart/form-data">

    Item Name: <br>
    <input type="text" name="name" required><br><br>

    Price (per day): <br>
    <input type="number" name="price" required><br><br>

    Image: <br>
<input type="file" name="image" accept="image/*" required><br><br>

    Contact Number: <br>
<input type="text" name="contact"
    pattern="[0-9]{10}"
    maxlength="10"
    placeholder="Enter 10 digit number"
    required
    oninvalid="this.setCustomValidity('Please enter exactly 10 digits')"
    oninput="this.setCustomValidity('')">

    <button type="submit">Add Item</button>

</form>

<div class="add-item-box">
    <form method="POST">
        <!-- inputs -->
    </form>
</div>

</body>
</html>