<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Welcome -->
    <h1 class="welcome">Welcome <br> {{ name }}</h1>
<p style="text-align:center; color:gray;">{{ email }}</p>

    <!-- Cards -->
   <div class="container">

      <div class="container">

    <div class="card" onclick="location.href='/items'">
        🏬 Available Items
    </div>

    <div class="card" onclick="location.href='/my_items'">
        📦 My Items
    </div>

    <div class="card" onclick="location.href='/add_item'">
        ➕ Add Item
    </div>

    <div class="card" onclick="location.href='/logout'">
        🚪 Logout
    </div>

</div>

</div>
    

</div>

    </div>

    <script>
window.history.forward();
function noBack() {
    window.history.forward();
}
</script>

   
</body>
</html>