<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>



    
<!-- Navbar -->
<nav class="navbar">
    <div class="logo">Rentify</div>

    <div class="nav-container">
        <ul class="nav-links">

         <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/add_item">Add Item</a></li>
        <li><a href="/my_rentals">My Rentals</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<!-- Welcome -->
<h1 class="welcome">Welcome <br> {{ name }}</h1>
<p class="email">{{ email }}</p>

<!-- Cards -->
<div class="container">

   

    <div class="card" onclick="location.href='/my_items'">
        📦 My Items
    </div>

    <div class="card" onclick="location.href='/add_item'">
        ➕ Add Item
    </div>

    <div class="card" onclick="location.href='/my_rentals'">
        📜 My Rentals
    </div>

   
</div>

<!-- Footer -->
<footer>
    <p>© 2026 Rentify. All Rights Reserved.</p>
</footer>

</body>
</html>