<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">Rentify</div>
    <div class="nav-container">
        <ul class="nav-links">
            
              <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About Us</a></li>


        </ul>
    </div>
</nav>

<!-- LOGIN FORM -->
<div class="login-box">
    <h2>Login</h2>

    <form method="POST">
    <input type="email" name="Email" placeholder="Email" required>
    <input type="password" name="Password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
</div>

<!-- FOOTER -->
<footer>
    <p>© 2026 Rentify. All Rights Reserved.</p>
</footer>

</body>
</html>