<!DOCTYPE html>
<html>
<head>
    <title>My Rentals</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_rentals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>

<body>

 <!-- Navbar -->
<nav class="navbar">
    <div class="logo">Rentify</div>

    <div class="nav-container">
        <ul class="nav-links">

        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/add_item">Add Item</a></li>
        <li><a href="/my_rentals">My Rentals</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>

    </ul>
</nav>


<!-- ================= TITLE ================= -->
<h1 class="title">My Rentals</h1>

<!-- ================= CARDS ================= -->
<div class="items-container">

  {% for r in rentals %}
<div class="item-card">

    <!-- IMAGE -->
    <img src="/static/uploads/{{ r[2] }}" class="item-img">

    <!-- ITEM -->
    <h3>{{ r[0] }}</h3>
    <p>₹{{ r[1] }} / day</p>

    <!-- USER -->
    <p>👤 {{ r[3] }}</p>
    <p>📞 {{ r[4] }}</p>
    <p>🆔 XXXX-XXXX-{{ r[5][-4:] }}</p>

    <!-- PAYMENT -->
    <p>💳 {{ r[6] }}</p>

    <!-- STATUS -->
    <p class="status">{{ r[7] }}</p>

</div>
{% endfor %}

</div>

<!-- Footer -->
<footer>
    <p>© 2026 Rentify. All Rights Reserved.</p>
</footer>

</body>
</html>